@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');



.main1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    }


  
    .formgroup{
        margin-top: 20px;
       
    }
    h1{
        font-family: 'Roboto Mono', monospace;
        color:black;
    }
      
 body{
    background-image: url(brewary.jpg);
    background-repeat: no-repeat;  
    background-size: 180px 100px;
   


 }



